[Unit]
Description=Startup
After=tlp-init.service
 
[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/startup.sh
 
[Install]
WantedBy=multi-user.target
